body{
    background: rgb(2,0,36);
background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(7,235,237,1) 25%, rgba(4,174,199,1) 73%, rgba(4,175,201,1) 74%, rgba(3,181,209,1) 78%, rgba(0,212,255,1) 100%);
}
.heading{
  font-size: 30px;
  box-shadow: 10px 10px 10px grey;
  font-style: inherit;
  font-weight: bold;  
}
canvas{
 border-radius: 10px;
 border-color: whitesmoke;
 border-style: ridge;   
  box-shadow: 10px 10px 10px grey;
   border-width: 20px;
}